# virtual env
venv/

# Visual Studio code workspace settings 
PythonTopics.code-workspace
.vscode
backend/catalogue/__pycache__
backend/Topics/__pycache__

# Database, database migrations
backend/catalogue/migrations
backend/db.sqlite3

# static files
backend/catalogue/static

# .DS_Store file
.DS_Store

# media
backend/media


